{% extends 'base_auth.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Logout" %}</h2>
<p>{% trans "Are you sure you want to log out?" %}</p>
<form method="POST" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn boxed-btn3">{% trans "Log out" %}</button>
</form>
<p><a href="{% url 'authapp:login' %}"><small>{% trans "Back to login" %}</small></a></p>
{% endblock content %}
