{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    {% if user.is_anonymous %}
                    <h3>Регистрация нового пользователя</h3>
                    {% else %}
                    <h3>Редактировать профиль</h3>
            
                    {% endif %}
                    <form method="post" class="mt-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <button class="boxed-btn3 w-100" type="submit">
                        {% if user.is_anonymous %}
                        Зарегистрироваться
                        {% else %}
                        Сохранить
                        {% endif %}
                        </button>
                    </form>
                </div>
            </div>    
        </div>    
    </div>
</div>
{% endblock content %}