<!-- popular_scenario  -->
<div class="popular_catagory_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section_title mb-40">
                    <h3>Популярные сценарии</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="brouse_job text-right">
                    <a href="{% url 'mainapp:scenarios'%}" class="boxed-btn4">Смотреть все сценарии</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for scenario in scenarios%}
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_catagory">
                <div class="scenario_devices"><a href="{% url 'mainapp:scenario_detail' slug=scenario.slug %}"><h4>{{scenario.title}}</h4></a></div>
                    <p > <span>{{scenario.devices.all|length}}</span> {{scenario.get_quantity_devices}}</p>
                </div>
            </div>
            {% endfor %}
            
            
        </div>
    </div>
</div>
<!-- popular_scenario  -->