{% load static %}
<div class="top_companies_area">
    <div class="container">
        <div class="row align-items-center mb-40">
            <div class="col-lg-6 col-md-6">
                <div class="section_title">
                    <h3>Полезные статьи</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="brouse_job text-right">
                    <a href="#" class="boxed-btn4">Смотреть все статьи</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        <img src='{% static "img/svg_icon/5.svg" %}' alt="">
                    </div>
                    <a href="#"><h3>Статья 1</h3></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        <img src='{% static "img/svg_icon/4.svg" %}' alt="">
                    </div>
                    <a href="#"><h3>Статья 2</h3></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        <img src='{% static "img/svg_icon/3.svg" %}' alt="">
                    </div>
                    <a href="#"><h3>Статья 3</h3></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        <img src='{% static "img/svg_icon/1.svg" %}' alt="">
                    </div>
                    <a href="#"><h3>Статья 4</h3></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>