<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Добро пожаловать!</h3>
        <p class="sample-text">
            Рад видеть Вас на своем проекте <b>Смарт-хата</b>. Это приложение поможет Вам сделать свой дом немножко умнее
            и освободит от некоторых рутинных задач. Если у Вас уже есть некоторые начинания в проектированиии своего умного дома советую перейти 
            сразу в каталог устройств и добавить в свой личный кабинет устройства которые у вас уже есть. После этого Вам будут предложены подходящие 
            сценарии для автоматизации
        </p>
        <p class="sample-text">
            Если вы <b>новичок</b>, то первым делом определитесь в какой экосистеме вы будете собирать свой умный дом:
            <ul class="unordered-list">
                <li><b>Xiaomi</b> - Один из лидеров по производству устройств для умного дома. Владеет такими брендами как Aqara и Mijia. 
                    Устройства отличаются хорошим качеством и невысокой ценой. Из особенностей - нужно следить за регионом для которого 
                    выпущено устройство. Устройства из разных регионов могут некоректно работать.
                </li>
                <li><b>Яндекс</b> - Имеет не большой список собственных устройств, однако без проблем может работать с устройствами Xiaomi и Tuya. 
                    Из плюсов - всеми устройствами можно управлять с помощью голосового помощника Алиса.
                </li>
                <li><b>Homekit</b> - умный дом от Apple. Одна из старейших систем. Имеет большой список поддерживаемых устройств в том числе и Xiaomi.
                    Соответственно работает с экосистемой Apple и голосовым помощником Siri.
                </li>
                <li><b>Tyua</b> - относительно новый игрок. Из особенностей - позволяет всем производителям производить утсройства для своей
                    экосистемы. Из-за этого можно найти очень дешевые устройства, но очень низкого качества.
                </li>
            </ul>

        </p>
    </div>
</section>
<!-- End Sample Area -->