{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
    <h2>Вход пользователя</h2>
    <form method="POST">

        {% csrf_token %}
        <p>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                maxlength="150" class="textinput textInput form-control" required="" id="id_username"
                placeholder="Email">
        </p>
        <p>
            <input type="password" name="password" autocomplete="current-password"
                class="textinput textInput form-control" required="" id="id_password" placeholder="Password">
        </p>
        <p>
            <button type="submit" class="btn boxed-btn3 btn-block">Войти</button>
        </p>
    </form>
    <p>
    <div class="row justify-content-between">
        <div class="col">
            <a href="{% url 'authapp:register' %}"><small>Регистрация</small></a>
        </div>
        <div class="col">
            <a href="#"><small>Забыли пароль?</small></a>
        </div>
    </div>
    </p>
    <h4>Вход через социальные сети</h4>
    <p>
        <div class="btn-group btn-block" role="group">
            <a class="btn boxed-btn3" href="#" role="button"><i class="ti-facebook"></i></a>
            <a class="btn boxed-btn3" href="#" role="button"><i class="fa fa-google-plus"></i></a>
            <a class="btn boxed-btn3" href="#" role="button"><i class="fa fa-instagram"></i></a>
            <a class="btn boxed-btn3" href="#" role="button"><i class="fa fa-linkedin"></i></a>
            
        </div>
        
    </p>
    <p>
        <div class="col"><a href="{% url 'mainapp:main_page' %}">На главную</a></div>
    </p>

    {% endblock content %}