{% extends 'base_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}
{% block content %}
    <h2>{% trans "User login" %}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn boxed-btn3 btn-block">{% trans "Login" %}</button>
    </form>
    <p>
    <div class="row justify-content-between">
        <div class="col">
            <a href="{% url 'authapp:register' %}"><small>{% trans "Registration" %}</small></a>
        </div>
        <div class="col">
            <a href="{% url 'authapp:password-reset' %}"><small>{% trans "Forgot password?" %}</small></a>
        </div>
        <div class="col">
            <a href="{% url 'authapp:resend_activation' %}"><small>{% trans "Resend activation email" %}</small></a>
        </div>
    </div>
    </p>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <h4>{% trans "Login via social networks" %}</h4>
    <div class="btn-group btn-block" role="group">
        {% for provider in socialaccount_providers %}
        <a class="btn boxed-btn3" href="{% provider_login_url provider.id %}" role="button">
            {% if provider.id == 'google' %}<i class="fa fa-google"></i>
            {% elif provider.id == 'yandex' %}
                <svg width="16" height="16" viewBox="0 0 24 24" style="vertical-align: middle;" aria-hidden="true">
                    <rect width="24" height="24" rx="4" fill="#FC3F1D"/>
                    <text x="12" y="17.5" text-anchor="middle" font-family="Arial, Helvetica, sans-serif" font-size="15" font-weight="bold" fill="#fff">&#1071;</text>
                </svg>
            {% elif provider.id == 'facebook' %}<i class="fa fa-facebook"></i>
            {% elif provider.id == 'vk' %}<i class="fa fa-vk"></i>
            {% elif provider.id == 'github' %}<i class="fa fa-github"></i>
            {% else %}<i class="fa fa-sign-in"></i>
            {% endif %}
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <p>
        <div class="col"><a href="{% url 'mainapp:main_page' %}">{% trans "Home" %}</a></div>
    </p>

    {% endblock content %}