{% extends 'base_auth.html'%}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Resend activation email" %}</h2>
    <p>
        <small>
            {% trans "Enter the email you registered with and we will send you a new activation link." %}
        </small>
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn boxed-btn3 btn-block mt-3">{% trans "Send activation link" %}</button>
    </form>
    <p>
        <div class="col"><a href="{% url 'authapp:login' %}">{% trans "Back to login" %}</a></div>
    </p>
{% endblock content%}
