<div class="col-xl-6 col-lg-7">
    <div class="main-menu  d-none d-lg-block">
        <nav>
            <ul id="navigation">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Сценарии</a></li>
                <li><a href="#">Устройства <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Категория1 </a></li>
                        <li><a href="#">Категория2 </a></li>
                        <li><a href="#">Категория3</a></li>
                    </ul>
                </li>
                <li><a href="#">Статьи <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Кат1</a></li>
                        <li><a href="#">Кат2</a></li>
                    </ul>
                </li>
                <li><a href="#">Контакты</a></li>
                {% if user.is_superuser%}
                <li><a href="{% url 'admin:index'%}">Админ</li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>