{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Пра ўсе
{% endblock title %}
{% block content %}
    
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Пра ўсе</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Вітаю!</h3>
            <p class="sample-text">
                Гэта мой асабісты праект <b>Смарт-хата</b>. Гэта не камерцыйны праект і створаны ен найперш для таго каб паспрабаваць
                свае сілы ў стварэнні сайта на фрэймворку Джанга. Але я буду вельмі рад калі ен вам будзе палезны. І яшчэ больш буду удзячны
                калі вы падтрымаеце мой праект грашыма ці пасільнай дапамогай (напрыклад с перакладамі тэкстаў на беларусскую мову).
            </p>
            <p class="sample-text">
                Чым жа гэты сайт зможа вас зацікавіць і чым ен выдзяляецца сярод іншых такіх праектаў? Па-першае, ен на беларусскай мове і я думаю такіх
                не шмат. Па-другое, тут я паспрабаваў зайсці з другога накірунка ў справе знаемства з разумным домам. Не з боку разумных прылад (выключацелі, лямпачкі і г. д.),
                а з боку вырашэння паўсядзенных клопатаў з дапамогай разумных прылад. Так мне здаецца прасцей зразумець навошта мне гэтыя смарт-цацкі. 
                У раздзеле <a href="{% url 'mainapp:scenarios' %}"><u>сцэнары</u></a> я сабраў усе свае ідэі чым вам можа быць палезны разумны дом. Калі вам падабаўся нейкі сцэнар вы можаце бачыць набор прылад
                якія вам спатрэбяцца каб рэалізаваць гэта ў сябе дома і спасылкі для набыцця гэтых прылад.
            </p>
            <p class="sample-text">
                Калі вы прйдзеце <a href="{% url 'authapp:register' %}"><u>рэгістрацыю</u></a>, вам будзе даступны функцыянал асабістага кабінета. Вы зможаце дабаўляць прылады якія у вас ужо есць у свой асабісты спіс. 
                Сістэма будзе прапанаваць вам другія сцэнары з гэтых жа прылад і сцэнары дзе не хапае одной ці дзвух прылад.
            </p>
        </div>
    </section>
    <!-- End Sample Area -->
{% endblock content %}