{% extends 'base_blog.html' %}
{% load static %}
{% load crispy_forms_tags %}  

{% block title %}
   {{object.category}}
{%endblock title %}

{% block left_sidebar%}
<div class="col-lg-8 posts-list">
   <div class="single-post">
      <div class="feature-img">
         <img class="img-fluid" src='{{object.main_img.url}}' alt="">
      </div>
      <div class="blog_details">
         <h2>{{object.title}}
         </h2>
         <ul class="blog-info-link mt-3 mb-4">
            <li><a href="{% url 'mainapp:articles_category' cat_slug=object.category.slug %}"><i  class="fa fa-th-list"></i> {{object.category}}</a></li>
            <li><i class="fa fa-user"></i> {{object.author.username}}</li>
            <li><a href="#comments"><i class="fa fa-comments"></i> Отзывов - {{object.get_all_comments|length}}</a></li>
            <li><i class="fa fa-tags"></i>
               {% for tag in object.tags.all %}
               <a href="{% url 'mainapp:list_by_tag' tag.slug %}">{{tag.name}}</a>; 
               {%endfor%}
            </li>
         </ul>
         {{object.text|safe|escape}}
      </div>
   </div>
   <div class="navigation-top">
      <div class="d-sm-flex justify-content-between text-center">
         <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
            people like this</p>
         <div class="col-sm-4 text-center my-2 my-sm-0">
            <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> Отзывов - {{object.get_all_comments|length}}</p>
         </div>
         <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
         </ul>
      </div>
      <div class="navigation-area">
         <div class="row">
            <div
               class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
               <div class="thumb">
                  <a href="{{prev.get_absolute_url}}">
                     <img class="img-mini" src='{{prev.main_img.url}}' alt="">
                  </a>
               </div>
               <div class="arrow">
                  <a href="{{prev.get_absolute_url}}">
                     <span class="lnr text-white ti-arrow-left"></span>
                  </a>
               </div>
               <div class="detials">
                  <p>Предыдущий </p>
                  <a href="{{prev.get_absolute_url}}">
                     <h4>{{prev.title|truncatewords:5|safe}}</h4>
                  </a>
               </div>
            </div>
            <div
               class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
               <div class="detials">
                  <p>Следующий</p>
                  <a href="{{next.get_absolute_url}}">
                     <h4>{{next.title|truncatewords:5|safe}}</h4>
                  </a>
               </div>
               <div class="arrow">
                  <a href="{{next.get_absolute_url}}">
                     <span class="lnr text-white ti-arrow-right"></span>
                  </a>
               </div>
               <div class="thumb">
                  <a href="{{next.get_absolute_url}}">
                     <img class="img-mini" src='{{next.main_img.url}}' alt="">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="blog-author">
      <div class="media align-items-center">
         {% if comment.author.avatar %}
         <img src='{{object.author.avatar.url}}' alt="">
         {%else%}
         <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">
         {%endif%}
         <div class="media-body">
            
               <h4>Звесткі пра аўтара</h4>
            
            <p>Гэты артыкул для вас падрыхтаваў {%if object.author.first_name%}{{object.author.first_name}}{%endif%}
               {%if object.author.last_name%}{{object.author.last_name}}{%endif%} 
               {%if not object.author.first_name and not object.author.last_name%}{%else%}з мянушкай{%endif%}
               {{object.author.username}}
               {%if object.author.first_name%}з краіны {{object.author.country.name}}{%endif%}</p>
         </div>
      </div>
   </div>
   <div class="comments-area" id="comments">
      <h4>Отзывы ({{object.get_all_comments|length}})</h4>
      {% for comment in comments %}
      <div class="comment-list">
         <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
               <div class="thumb">
                  {% if comment.author.avatar %}
                  <img src='{{comment.author.avatar.url}}' alt="">
                  {%else%}
                  <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">
                  {%endif%}
               </div>
               <div class="desc">
                  <p class="comment">
                     {{comment.content}}
                  </p>
                  <div class="d-flex justify-content-between">
                     <div class="d-flex align-items-center">
                        <h5>
                           <a href="#">{{comment.author.username}}</a>
                        </h5>
                        <p class="date">{{comment.created_at|date:"j F Y | H:i" }} </p>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      {%endfor%}
      
   </div>
   <div class="comment-form">
      {% if user.is_authenticated %}
      <h4>Оставить отзыв</h4>
      <form class="form-contact comment_form" action="{% url 'mainapp:comment_article' object.id %}" id="commentForm" method="post">
         <div class="row">
            <div class="col-12">
               <div class="form-group">
                  {% csrf_token %}
                  {{form|crispy}}
               </div>
            </div>
         </div>
         <div class="form-group">
            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Отправить</button>
         </div>
      </form>
      {%else%}
     <p> Для того чтобы оставить отзыв вам необходимо <a href="{% url 'authapp:login'%}">авторизоваться</a> на сайте</p>
      {%endif%}
   </div>
</div>
{%endblock left_sidebar%}
  
{% block right_sidebar %}
<aside class="single_sidebar_widget post_category_widget">
   <h4 class="widget_title">Категории статей</h4>
   <ul class="list cat-list">
      {% for item in all_categories %}
         <li>
            <a href="{% url 'mainapp:articles_category' cat_slug=item.slug %}" class="d-flex">
                  <p>{{item.title}}</p>
                  <p>({{item.qty_articles_in_category}})</p>
            </a>
         </li>
      {% endfor %}
   </ul>
</aside>
{%endblock right_sidebar%}