
{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ object.title}}
{% endblock title %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ qty }}+ Умных Устройств</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    {% if object.icon %}
                                    <img src='{{object.icon.url}}' width="50" height="50"  alt="">
                                    {% else %}
                                    <img src='{% static "img/svg_icon/4.svg" %}' width="50" height="50" alt="">
                                    {% endif %}
                                </div>
                                <div class="jobs_conetent">
                                    <h4>{{ object.title }}</h4>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-th-list"></i> {{object.category}}</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-user"></i> {{object.author}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" title="Добавить в мой список" href="{% url 'mainapp:add_device' slug=object.slug %}"> <i class="ti-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Описание</h4>
                            <p>{{ object.description }}</p>
                            
                        </div>
                        
                    </div>

            
				    <div class="row gallery-item">
                        {% if object.foto1 %}
                        <div class="col-md-6">
                            <a href="{{object.foto1.url }}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url('{{object.foto1.url }}');"></div>
                            </a>
                        </div>
                        {% endif %}
                        {% if object.foto2 %}
                        <div class="col-md-6">
                            <a href="{{object.foto2.url }}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url('{{object.foto2.url }}');"></div>
                            </a>
                        </div>
                        {% endif %}
                        {% if object.foto3 %}
                        <div class="col-md-6">
                            <a href="{{object.foto3.url }}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url('{{object.foto3.url }}');"></div>
                            </a>
                        </div>
                        {% endif %}
                        {% if object.foto4 %}
                        <div class="col-md-6">
                            <a href="{{object.foto4.url }}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url('{{object.foto4.url }}');"></div>
                            </a>
                        </div>
                        {% endif %}
                    </div>

                    
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Характеристики</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Модель: <span>{{object.model}}</span></li>
                                <li>Протоколы: <span>{{object.protocol}}</span></li>
                                <li>Питание: <span>{{object.power}}</span></li>
                                <li>Размеры: <span>{{object.size}}</span></li>
                                <li>Комплектация: <span>{{object.set}}</span></li>
                                <li>Платформы: <span> {% for item in object.platforms.all %} {{item.title}}; {% endfor %}</span></li>
                            
                            </ul>
                        </div>
                    </div>
                    <div class="share_wrap d-flex">
                        <span>Share at:</span>
                        <ul>
                            <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}