{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Личный кабинет</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="job_listing_area ">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-3 col-md-4 mt-sm-30">
                    <div class="job_filter white-bg">
                        <h3>Личные данные</h3>
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="" width="100%">
                        {% else %}
                        <!-- <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">  -->
                        <img class="card-img" src='{% static "img/blog/blog_1.png" %}' alt="">
                        {% endif %}

                        <div class="personal-data d-flex justify-content-between">
                            <p class="black-txt">Мянушка:</p>
                            <p class="break-word">{{user.username}}</p>
                        </div>
                        <div class="personal-data d-flex justify-content-between">
                            <p class="black-txt">Имя:</p>
                            <p class="break-word">{{user.first_name}}</p>
                        </div>
                        <div class="personal-data d-flex justify-content-between">
                            <p class="black-txt">Фамилия:</p>
                            <p class="break-word">{{user.last_name}}</p>
                        </div>
                        <div class="personal-data d-flex justify-content-between">
                            <p class="black-txt">Возраст:</p>
                            <p>{{user.age}} лет</p>
                        </div>
                        <div class="personal-data d-flex justify-content-between">
                            <p class="black-txt">Страна:</p>
                            <p class="break-word">{{user.country.name}}</p>
                        </div>
                        <div class="personal-data d-flex justify-content-between">
                            <p class="black-txt"><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
                            <p class="break-word">{{user.email}}</p>
                        </div>
                        <div class="reset_btn">
                            <button class="boxed-btn3 w-100" type="submit">Изменить</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>Мои устройства</h4>
                            </div>
                            
                        </div>
                    </div>
                    <div class="job_lists m-0">
                        <div class="row">
                            {% for device in page_obj %}
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            {% if device.icon %}
                                            <img src='{{device.icon.url}}' width="50" height="50"  alt="">
                                            {% else %}
                                            <img src='{% static "img/svg_icon/4.svg" %}' width="50" height="50" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'mainapp:devices_detail' slug=device.slug %}"><h4>{{ device.title }}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-th-list"></i> {{device.category}}</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-user"></i> {{device.author}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            
                                            <a href="{% url 'mainapp:delete_device' slug=device.slug %}" class="boxed-btn3">
                                                Удалить
                                            </a>
                                        </div>
                                        <div class="date">
                                            <p> {{device.created_at|date:"Y-m-d"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        {% if page_obj.has_previous %}
                                        <li><a href="?page={{ page_obj.previous_page_number }}"> <i class="ti-angle-left"></i> </a></li>
                                        {% endif %}
                                        {% for item in page_obj.paginator.page_range %}
                                        <li class="{% if item == page_obj.number %}active{% endif %}"><a href="?page={{ item }}"><span>{{item}}</span></a></li>
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}"> <i class="ti-angle-right"></i> </a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="top_companies_area">
    <div class="container">
        <div class="row align-items-center mb-40">
            <div class="col-lg-6 col-md-6">
                <div class="section_title">
                    <h3>Сценарии для ваших устройств</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="brouse_job text-right">
                    <a href="jobs.html" class="boxed-btn4">Browse More Job</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for scenario in right_scenarios %}
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        <img src='{{ scenario.main_img.url }}' alt="">
                    </div>
                    <a href="{% url 'mainapp:scenario_detail' slug=scenario.slug %}"><h3>{{scenario.title}}</h3></a>
                    <p> <span>{{scenario.devices.all|length}}</span> {{scenario.get_quantity_devices}}</p>
                </div>
            </div>
            {%endfor%}
            
        </div>
    </div>
</div>
<div class="top_companies_area">
    <div class="container">
        <div class="row align-items-center mb-40">
            <div class="col-lg-6 col-md-6">
                <div class="section_title">
                    <h3>Не хватает одного устройства</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="brouse_job text-right">
                    <a href="jobs.html" class="boxed-btn4">Browse More Job</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for scenario in almost_all %}
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        <img src='{{ scenario.main_img.url }}' alt="">
                    </div>
                    <a href="{% url 'mainapp:scenario_detail' slug=scenario.slug %}"><h3>{{scenario.title}}</h3></a>
                    <p> <span>{{scenario.devices.all|length}}</span> {{scenario.get_quantity_devices}}</p>
                </div>
            </div>
            {%endfor%}
            
        </div>
    </div>
</div>
{% endblock content %}