{% extends 'base_blog.html' %}
{% load static %}
{% load i18n %}
{% load icon_tags %}
{% load crispy_forms_tags %}  
{% block title %}
{% trans "Automation scenarios" %}
{% endblock title %}


{% block left_sidebar %}
<div class="col-lg-8 posts-list">
   <div class="single-post">
      <div class="feature-img">
         <img class="img-fluid" src='{{object.main_img.url}}' alt="">
      </div>
      <div class="blog_details">
         <h2>{{object.title}}
         </h2>
         <ul class="blog-info-link mt-3 mb-4">
            {% if object.variants.all %}
            <li><i class="fa {{ object.variants.first.platform|get_icon }}"></i>
               {% for v in object.variants.all %}
                  <a href="{% url 'mainapp:scenarios_category' platform_id=v.platform.id %}">{{ v.platform.title }}</a>{% if not forloop.last %}, {% endif %}
               {% endfor %}
            </li>
            {% endif %}
            <li><i class="fa fa-user"></i> {{object.author}}</li>
            <li><a href="#comments"><i class="fa fa-comments"></i> {% trans "Comments" %} - {{object.get_all_comments|length}}</a></li>
            <li><i class="fa fa-tags"></i>
               {% for tag in object.tags.all %}
               <a href="{% url 'mainapp:list_by_tag' tag.slug %}">{{tag.name}}</a>; 
               {%endfor%}
            </li>
            <li>
               <form action="{% url 'mainapp:add_rating' %}" method="post" name="rating">
                  {% csrf_token %}
                  <input type="hidden" value="{{ object.id }}" name="scenario">
                  <div class="form__item">
                     <div class="simple-rating">
                        <div class="simple-rating__items">
                           {% for k, v in star_form.fields.star.choices %}
                           <input id="simple-rating__{{v}}" type="radio" class="simple-rating__item"
                              value="{{k}}" {% if k == object.get_rating %} checked {% endif %} name="star">
                           <label for="simple-rating__{{v}}" class="simple-rating__label"></label>
                           {% endfor %}
                        </div>
                     </div>
                  </div>

               </form>
            </li>
            
         </ul>

         {% if object.idea %}
         <h3 class="mb-20"> {% trans "Idea" %}</h3>
         {{object.idea.description|safe|escape}}
         {%endif%}

         <h3 class="mb-20">{% trans "Device types" %}</h3>
         <ol class="unordered-list">
             {% for item in object.device_types.all %}
            <li>{{item.title}}</li>
             {%endfor%}
         </ol>

             {% if object.variants.all %}
             <h3 class="mb-20">{% trans "Variants by ecosystem" %}</h3>
             {% for variant in object.variants.all %}
                <div class="variant-block">
                   <h4>{{ variant.platform.title }}</h4>
                   {% if variant.required_devices.all %}
                      <ol class="unordered-list">
                         {% for rd in variant.required_devices.all %}
                            <li>
                               <a href="{% url 'mainapp:devices_detail' slug=rd.device.slug %}">{{ rd.device.title }}</a>
                               {% if rd.quantity and rd.quantity > 1 %} — x{{ rd.quantity }}{% endif %}
                               {% if rd.note %} ({{ rd.note }}){% endif %}
                            </li>
                         {% endfor %}
                      </ol>
                   {% else %}
                      <p>{% trans "No specific required devices listed for this variant." %}</p>
                   {% endif %}
                </div>
             {% endfor %}
             {% endif %}

         <h3 class="mb-20">{% trans "Explanations" %}</h3>
         {{object.text|safe|escape}}

         {# scheme moved to ScenarioImage/ScenarioImageInline; no direct scheme field on Scenario #}
         
         <div class="quote-wrapper">
            <div class="quotes">
               {% blocktrans trimmed %}
               Attention! Depending on the version of the application, the names of the options may
               differ slightly from those indicated in the diagram!
               {% endblocktrans %}
           </div>           
         </div>
      </div>
   </div>
   <div class="navigation-top">
      <div class="d-sm-flex justify-content-between text-center">
         <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> </p>
         <div class="col-sm-4 text-center my-2 my-sm-0">
            <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> {% trans "Comments" %} - {{object.get_all_comments|length}}</p>
         </div>
         <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
         </ul>
      </div>
      <div class="navigation-area">
         <div class="row">
            <div
               class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
               <div class="thumb">
                  <a href="{% url 'mainapp:scenario_detail' slug=prev.slug %}">
                     <img class="img-fluid" src='{{prev.main_img.url}}' alt="">
                  </a>
               </div>
               <div class="arrow">
                  <a href="{% url 'mainapp:scenario_detail' slug=prev.slug %}">
                     <span class="lnr text-white ti-arrow-left"></span>
                  </a>
               </div>
               <div class="detials">
                  <p>{% trans "Previous" %} </p>
                  <a href="{% url 'mainapp:scenario_detail' slug=prev.slug %}">
                     <h4>{{prev.title|truncatewords:5|safe}}</h4>
                  </a>
               </div>
            </div>
            <div
               class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
               <div class="detials">
                  <p>{% trans "Next" %}</p>
                  <a href="{% url 'mainapp:scenario_detail' slug=next.slug %}">
                     <h4>{{next.title|truncatewords:5|safe}}</h4>
                  </a>
               </div>
               <div class="arrow">
                  <a href="{% url 'mainapp:scenario_detail' slug=next.slug %}">
                     <span class="lnr text-white ti-arrow-right"></span>
                  </a>
               </div>
               <div class="thumb">
                  <a href="{% url 'mainapp:scenario_detail' slug=next.slug %}">
                     <img class="img-fluid" src='{{next.main_img.url}}' alt="">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="blog-author">
      <div class="media align-items-center">
         {% if object.author.avatar %}
         <img src='{{object.author.avatar.url}}' alt="">
         {%else%}
         <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">
         {%endif%}
         <div class="media-body">
            <h4>{% trans "Author information" %}</h4>
            <p>{% trans "This article was prepared for you by" %} {%if object.author.first_name%}{{object.author.first_name}}{%endif%}
            {%if object.author.last_name%}{{object.author.last_name}}{%endif%} 
            {%if not object.author.first_name and not object.author.last_name%}{%else%}{% trans "with the nickname" %}{%endif%}
            {{object.author.username}}
            {%if object.author.first_name%}{% trans "from the country" %} {{object.author.country.name}}{%endif%}
            </p>
         </div>
      </div>
   </div>
   <div class="comments-area" id="comments">
      {% if not comments %}
      <p>{% trans "There are no comments yet. Be the first!" %}</p>
      {%else%}
      <h4>{% trans "Comments" %} ({{object.get_all_comments|length}})</h4>
      {% for comment in comments %}
      <div class="comment-list">
         <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
               <div class="thumb">
                  {% if comment.author.avatar %}
                  <img src='{{comment.author.avatar.url}}' alt="">
                  {%else%}
                  <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">
                  {%endif%}
               </div>
               <div class="desc">
                  <p class="comment">
                     {{comment.content}}
                  </p>
                  <div class="d-flex justify-content-between">
                     <div class="d-flex align-items-center">
                        <h5>
                           <a href="#">{{comment.author.username}}</a>
                        </h5>
                        <p class="date">{{comment.created_at|date:"j F Y | H:i" }} </p>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      {%endfor%}
      {%endif%}
      
   </div>
   <div class="comment-form">
      {% if user.is_authenticated %}
      <h4>{% trans "Leave a comment" %}</h4>
      <form class="form-contact comment_form" action="{% url 'mainapp:comment_scenario' object.id %}" id="commentForm" method="post">
         <div class="row">
            <div class="col-12">
               <div class="form-group">
                  {% csrf_token %}
                  {{form|crispy}}
               </div>
            </div>
         </div>
         <div class="form-group">
            <button type="submit" class="button button-contactForm btn_1 boxed-btn">{% trans "Send" %}</button>
         </div>
      </form>
      {%else%}
      {% url 'authapp:login' as login_url%}
      <p> 
         {% blocktrans trimmed with link='<a href="'|add:login_url|add:'"><u>log in</u></a>'|safe %}
         In order to leave a review you need to {{ link }} to the site!
         {% endblocktrans %}
      </p>
      {%endif%}
   </div>

</div>
{% endblock left_sidebar %}
         
{% block right_sidebar %}
<aside class="single_sidebar_widget popular_post_widget">
   {%if similar_scenarios%}
   <h3 class="widget_title">{% trans "Other scenarios from these devices" %}</h3>
   {% for item in similar_scenarios %}
      <div class="media post_item">
      <img class="box" src='{{item.main_img.url}}' alt="{{item.title}}">
      <div class="media-body">
         <a href="{% url 'mainapp:scenario_detail' slug=item.slug %}">
            <h3>{{item.title}}</h3>
         </a>
         <p>{{item.get_device_types_display}}</p>
      </div>
   </div>
   {%endfor%}
   {%endif%}
   
</aside>
{% endblock right_sidebar %}