{% extends 'base_blog.html' %}
{% load static %}
{% block title %}
    {% if view.kwargs %}
    Сценарии автоматизации {{ platform }}
    {% else %}
    Сценарии автоматизации
    {% endif %}
    ({{ object_list|length }})
{% endblock title %}

{% block left_sidebar %}
<div class="col-lg-8 mb-5 mb-lg-0">
    <div class="blog_left_sidebar">
        {% for item in object_list %}
        <article class="blog_item">
            <div class="blog_item_img">
                <img class="card-img" src ='{{item.main_img.url}}' alt="{{item.title}}">
                <a href="#" class="blog_item_date">
                    <h3>{{item.created_at|date:"d"}}</h3>
                    <p>{{item.created_at|date:"M"}}</p>
                </a>
            </div>

            <div class="blog_details">
                <a class="d-inline-block" href="{% url 'mainapp:scenario_detail' slug=item.slug %}">
                    <h2>{{item.title}}</h2>
                </a>
                <p>{{item.description|safe|escape}}</p>
                <ul class="blog-info-link">
                    <li><i class="fa fa-user"></i> {{item.author}}</li>
                    <li><i class="fa fa-comments"></i> Отзывов - {{item.get_all_comments|length}}</li>
                </ul>
            </div>
        </article>
        {% endfor %}
        
        {% include "includes/pagination.html" %}
        
    </div>
</div>
{% endblock left_sidebar %}
{% block right_sidebar %}
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Платформы</h4>
    <ul class="list cat-list">
        {% for item in all_categories %}
        <li>
            <a href="{% url 'mainapp:scenarios_category' platform_id=item.id %}" class="d-flex">
                <p>{{item.title}}</p>
                <p>({{item.qty_scenarios_in_platform}})</p>
            </a>
        </li>
        {% endfor %}
        
    </ul>
</aside>
{%endblock right_sidebar%}

    
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
