{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Search" %}
{% endblock title %}    
{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>
                            {% trans "Search" %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


   <!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
            
            <h2 class="text-heading">{% trans "Search results for" %} &quot;{{request.GET.q}}&quot;</h2>
            {% if object_list %}
            {% blocktrans count total=total_results %}
            <h4>Found {{ total }} result:</h4>
            {% plural %}
            <h4>Found {{ total }} results:</h4>
            {% endblocktrans %}

            <p class="sample-text">
                {% for item in object_list %}
                    
                    <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                    {{ item.text|truncatewords:15|safe }}
                    
                {%endfor%}
                <hr>    
                <p>{% trans "Didn't find what you were looking for? Try again:" %}</p>
                <div class="input-group mb-3">
                    <form action="." method="get">
                        <input name="q" type="text" class="form-control" placeholder="{% trans 'Search' %}"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search'">

                    </form>
                </div>
            {% else %}
                <p>
                    {% blocktrans trimmed %}
                    Не найдено публикаций по вашему запросу
                    Попробуйте повторить запрос с другой формулировкой
                    {% endblocktrans %}
                </p>
                <div class="input-group mb-3">
                    <form action="." method="get">
                        <input name="q" type="text" class="form-control" placeholder="{% trans 'Search' %}"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search'">

                    </form>
                </div>
            {% endif %}
			</p>
		</div>
	</section>
	<!-- End Sample Area -->

{% endblock content %}