<!-- Этот шаблон для страниц блога (сценарии и статьи) как базовый. блок title добавляет название
в синем блоке. блок left_sidebar это содержимое статьи или список статей, меняется полностью. 
Блок right_sidenar содержит постоянные блоки Поиск, Облако тегов, Инстаграмм, Последние статьи, меняется только блок
со списком категорий так как он разный для статей и для сценариев-->
{% extends 'base.html' %}
{% load static %}
{% load taggit_templatetags2_tags %}
{% load my_tags %}
{% block content %}
 <!-- bradcam_area  -->
 <div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>
                        
                        {% block title %}
                        {% endblock %}
                        
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!--================Blog Area =================-->
<section class="blog_area section-padding single-post-area">
    <div class="container">
        <div class="row">
            {% block left_sidebar%}

            {%endblock%}
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="{% url 'mainapp:search' %}" method="get">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input name="q" type="text" class="form-control" placeholder='Поиск'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Поиск'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Найти</button>
                        </form>
                    </aside>

                    {% block right_sidebar%}
                    {%endblock%}

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Последние статьи</h3>
                        {% get_article as posts %}
                        {% for post in posts %}
                        <div class="media post_item">
                            <div class="box">
                                <img src='{{post.main_img.url}}' alt="{{post.title}}">
                            </div>
                            <div class="media-body">
                                <a href="{% url 'mainapp:article_detail' slug=post.slug %}">
                                    <h3>{{post.title|truncatechars:28}}</h3>
                                </a>
                                <p>{{post.created_at|date:"E d, Y"}}</p>
                            </div>
                        </div>
                        {%endfor%}
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Облако Тегов</h4>
                        {% get_tagcloud as tags for 'mainapp' %}
                        <ul class="list">
                            {% for tag in tags %}
                            <li>
                                <a href="{% url 'mainapp:list_by_tag' tag.slug %}">{{tag}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src='{% static "img/post/post_5.png" %}' alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src='{% static "img/post/post_6.png" %}' alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src='{% static "img/post/post_7.png" %}' alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src='{% static "img/post/post_8.png" %}' alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src='{% static "img/post/post_9.png" %}' alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src='{% static "img/post/post_10.png" %}' alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Subscribe</button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock %}