<div class="col-xl-6 col-lg-7">
    <div class="main-menu  d-none d-lg-block">
        <nav>
            <ul id="navigation">
            {% for menu_item in menu_items %}
                {% if menu_item.get_children %}
                
                <li><a href="{% url menu_item.url %}""> {{ menu_item }}<i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                        {% for m_item in menu_item.get_children %}
                        <li><a href="{% url m_item.url cat_slug=m_item.cat_slug %}">{{ m_item }} </a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url menu_item.url %}">{{ menu_item }}</a></li>
                {% endif %}
                
            {% endfor %}
                {% if user.is_superuser%}
                <li><a href="{% url 'admin:index'%}">Админ</li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>  